

.image{
    background-color: #4D4C7D;
}

.content{
  background-color: #D8B9C3;
  padding: 20%;
}

.heading {
    color: black;
    text-align: left;
    font-size: 3rem;
}

.paper {
    position: relative;
    background-color: #827397;
    border-radius: 35px;
    padding: 20px;
    margin: auto;
    height: 70%;
    width: 30%;
}

.formContainer {
    background-color: #827397;
    width: 300px;
}

.field{
    margin-top: 20px;
}
