.chat-page{
    display: flex;
    margin-top: -3%;
    height: 85vh;
}

.chat-column{
    flex: 25%;
    background-color: #fffafa;
    margin: 0 1%;
    padding: 2% 0;
    border-radius: 15px;
    overflow: auto;
}
.chat-card{
    display: flex;
    padding: 5% 0;
    border-bottom: 1px solid #dfdfdf;
    cursor: pointer;
}
.chat-user-img{
    flex: 50%;
    text-align: center;
}
.chat-user-img img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}
.chat-user-name{
    flex: 50%;
    font-size: 1.25rem;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat{
    flex: 75%;
    background-color: #fffafa;
    margin: 0 1%;
    padding: 2% 0;
    border-radius: 15px;
    position: relative;
}
.chat-header-user{
    padding: 0 2%;
    border-bottom: 1px solid #dfdfdf;
    font-size: 1.75rem;
    font-weight: 600;
}
.back-to-all-chats{
    margin:0 2%;
    cursor: pointer;
}
.typing{
    font-size: 1rem;
    font-style: italic;
    color: #5aa469;
}
.chat-section{
    padding: 2%;
    height: 65vh;
    background-color: #bbbbbb;
    overflow: auto;
}
.compose-section{
    padding: 0 5%;
    display: flex;
    position: absolute;
    bottom: 3%;
    width: 100%;
}
.type-chat{
    padding-right: 2% !important;
}

.user-msg-container{
    margin: 1% 0;
    /* position: relative; */
    display: flex;
}
.user-msg-container-right{
    justify-content: flex-end;
}
.user-msg{
    /* position: absolute; */
    display: inline-block;
    padding: 0.5% 1%;
    border-radius: 10px;
    max-width: 60%;
}
.user-msg-left{
    background-color: #fff3b2;
}
.user-msg-right{
    background-color: #dcf8c6;
}

.MuiInput-inputMultiline{
    max-height: 4vh;
    overflow-y: scroll;
}

@media(max-width: 600px){
    .hide{
        display: none;
    }    
    .user-msg{
        padding: 1% 2%;
    }
}
@media(min-width:601px){
    .back-to-all-chats{
        display: none !important;
    }
}
