@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');


.name-and-avatar{
    height: 25rem;
    width: 25rem;
    margin: auto;
}

.avatar-container{
    height: 50%;
    width: 50%;
    font-size: 3em;
    position: relative;
    left: 25%;
}
.avatar{
    height: 100% !important;
    width: 100% !important;
    font-size: inherit !important;
    background-color: #827397 !important;
}

.name-container{
    margin-top: 5%;
    font-size: 1rem;
    background-color: #363062;
    color: #d8b9c3;
    text-align: center;
    padding: 5%;
    border-radius: 10px;
}
.name-container h1{
    margin: 0;
    font-weight: 400;
    font-size: 2rem;
}


.menu{
    width: 15rem;
    flex-direction: column;
    background-color: #363062;
    color: #d8b9c3;
    text-align: center;
    border-radius: 10px;
    padding: 3% 0;
    margin: auto;
}

.menu ul{
    list-style-type: none;
    padding-left: 0;
    font-size: 1.5rem;
}

.menu ul li{
    margin: 25% 0;
}
.menu ul .icons{
    font-size: 2rem;
    vertical-align: text-bottom;
}


.tag{
    text-align: center;
    background-color: #827397 !important;
    color: #ffffff !important;
    padding: 2%;
    font-size: 1.25rem;
}

.tech-stack{
    margin: 2% 0;
    padding-bottom: 5%;
}

@media(max-width: 476px)
{

    .name-and-avatar{
        height: 18rem;
        width: 18rem;
        margin: auto;
    }
    .name-container h1{
        font-size: 1.5rem;
    }
    
    .menu ul{
        font-size: 1rem;
    }
    
}

@media(max-width: 1159px)
{
    .name-and-avatar{
        margin: auto !important;
        margin-left: 25%;
    }
    ul{
        display: inline-block;
        width: 95%;
        margin: auto;
    }
    .menu-container{
        margin: 10% 0;
        flex: 90% !important;
        display: inline-block;
    }
    .content-container{
        /* flex: 100% !important; */
    }
    .menu{
        padding: 1%;
        flex-direction: row;
        justify-content: flex-end ;
        position: relative;
        width: 90%;
        text-align: center;
    }
    .menu ul{
        overflow: hidden;
        margin: 0;
    }
    .menu ul li{
        float: left;
        margin: 1% 5%;
    }
    .bio{
        padding: 200px;
    }
}

.MuiGrid-spacing-xs-3{
    width: 95% !important;
}


.name-avatar-container{
    flex: 30%;
}
.bio-container{
    flex: 65%;
}
.bio{
    font-family: Montserrat !important;
    padding: 30px 60px 30px 60px;
    color: black;
    border-radius: 10px;
    margin: 5% auto 0!important;
    /* margin-top:  */
    font-size: 1.5rem !important;
    width: 50%;
    border: #4D4C7D solid 3px;
    text-align: right;
    font-weight: 600 !important;
}
.menu-container{
    flex: 30%;
}
.content-container{
    flex: 65%;
}
.social-icons{
    margin: auto;
    width: 50%;
    min-width: 300px;
    text-align: center;
}
.social-icons *{
    font-size: 2rem !important;
    margin-top: 3%;
    margin-left: 10%;
}

/* .menu{
    margin-left: 50px;
} */